@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Spartan", sans-serif;
  background-color: hsl(180, 52%, 96%);
}

.badge {
  @apply rounded-full text-xs text-white font-bold px-2 py-1;
}

.header {
  background: url("/images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: hsl(180, 29%, 50%);
}

@media (max-width: 375px) {
  .header {
    background: url("/images/bg-header-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: hsl(180, 29%, 50%);
  }
}
